<!--  *************** fragment du header *************** -->
<head th:fragment="header">
<title>Spring Boot Thymeleaf</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/accueil.css}"
	href="../../css/accueil.css" />
</head>

<!--  *************** fragment de navigation *************** -->
<div th:fragment="navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Accueil</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item dropdown">
        <a class="btn btn-secondary dropdown-toggle" role="button" id="navbarDropdown" href="#" data-toggle="dropdown">
          Liste des couleurs
        </a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="/">
        	<span style="text-color:red" th:text="${page}"></span> 
           <span class="sr-only"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>

</div>

<!--  *************** fragment js *************** -->
<div th:fragment="scripts">
	<script type="text/javascript" src="webjars/jquery/dist/jquery.min.js"></script>	
	<script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</div>
   
    
  