<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<!-- this is header --> 
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="/" >PinaPoll</a>
			
			<!-- If not connected -->
			<form action="/login">
		    	<button type="submit" class="btn btn-success m-2 my-sm-0">Login</button>
		    </form>
		    <form action="/registration">
		    	<button type="submit" class="btn btn-primary m-2 my-sm-0">Sign up</button>
		    </form>
		</nav>
	</div>
</body>
</html>