<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:insert="fragments/fragments.html :: header"/>
	
	<body>
		
		<div th:replace="fragments/fragments.html :: navigation"></div>
		
		<div class="container">
	
			<div class="starter-template">
				<h1>Liste des couleurs</h1>
				
				<div class="card">
				  <div class="card-body">
				    <table class="table">
				    <tbody>
					    <tr th:each="color: ${colors}">
					        <td th:text="${color.nom}" />
					        <td th:text="${color.age}" />
					    </tr>
					</tbody>
					</table>
				  </div>
				</div>
			</div>
	
		</div>
		
		<div th:replace="fragments/fragments.html :: scripts"></div>
		
	</body>
</html>