<!DOCTYPE HTML>
<html>
	<head>
		<title>PinaPoll</title>
	</head>
	<body>
		<div th:insert="fragments/header :: header"></div>
		
		<div class="container pt-3">
			
			<!--  User Search Result -->
			<div class="card" th:each="user: ${users}">
				<div th:text="${user.name}"> Name </div>
			</div>
			
			<!-- Polls list -->
			<h1>All polls</h1>
			<hr/>
			
			<div class="card-columns">
		
				<div class="card" th:each="poll: ${polls}">
					<div class="card-body">
						<h5 class="card-title" th:text="${poll.question}"> Question </h5>
						<!-- CHART PREVIEW -->
						<canvas class="border rounded mb-2 w-100" width="100px" height="100px"></canvas>
						<button class="btn btn-sm btn-outline-primary w-100" type="button">Show poll</button>
					</div>
				</div>
			</div>
			
			<!-- Pagination -->
			<nav>
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href="#">Previous</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">Next</a></li>
				</ul>
			</nav>
		</div>
	</body>
</html>