<!DOCTYPE HTML>
<html>
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/header :: header"></nav>
		
		<div class="container pt-3">
			
			<!--  User Search Result -->
			<div class="card" th:each="user: ${users}">
				<ul class="list-group">
					<li class="list-group-item"><a th:href="@{/user/} + ${user.name}" th:text="${user.name}"> Name </a></li>
				</ul>
			</div>
			<br>
			
			<!-- Complex Search Bar -->
			<form method="GET" action="/search_poll">
				<div class="input-group mb-3">
					<input type="text" name="question" class="form-control" placeholder="Enter a poll question..." aria-label="Recipient's username">
					<input type="text" name="categoryName" class="form-control" placeholder="Enter a poll category..." aria-label="Recipient's username">
					<div class="input-group-append">
						<input type="submit" value="Search" class="btn btn-outline-secondary" />
					</div>
				</div>	
			</form>
			
			<!-- Polls list -->
			<h1>All polls</h1>
			<hr/>
			
			<div class="card-columns">
        
                <div class="card" th:each="poll: ${polls}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${poll.question}"> Question </h5>
                        <!-- CHART PREVIEW -->
                        <canvas class="border rounded mb-2 w-100" width="100px" height="100px"></canvas>
                        <a th:href="@{/poll/} + ${poll.id}" class="btn btn-sm btn-outline-primary w-100">Show poll</a>
                    </div>
                </div>
            </div>
			
			<!-- Pagination -->
			<nav>
				<ul class="pagination" >
					<li class="page-item" th:each="number: ${page_numbers}">
						<a class="page-link" th:href="@{/} + ${number}" th:text="${number}"></a>
					</li>
				</ul>
			</nav>
		</div>
	</body>
</html>