<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sign up form</title>
	</head>
	
	<body>
		<div th:insert="fragments/header :: header"></div>
		
		<div class="container pt-3">
			<form  id="register" autocomplete="off" action="#" th:action="@{/registration}"
				th:object="${user}" method="post" class="form-signin col-md-8 offset-md-2"
				role="form">
				<h1>Registration Form</h1>
				
				<input type="text" th:field="*{name}" placeholder="Name" class="form-control mt-3" />
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger small"></div> 

				<input type="text" th:field="*{email}" placeholder="Email" class="form-control mt-3" />
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger small"></div> 
				
				<input type="password" th:field="*{password}" placeholder="Password" class="form-control mt-3" />
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger small"></div>
				
				<input type="password" th:field="*{passwordConfirmation}" placeholder="Password confirmation" class="form-control mt-3" />
				<div th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="text-danger small"></div>

				<div class="alert alert-success mt-3 mb-0" th:utext="${successMessage}" th:if="${success}"></div>
				
				<button type="submit" class="btn btn-success mt-3" >Sign up</button>
				<a th:href="@{/login}" class="btn btn-outline-secondary mt-3">Back to login</a>
				
				<!-- <span th:utext="${successMessage}" th:style="|color: green; position: absolute; top: 285px; left: 230px|"></span> -->
			</form>
		</div>
	</body>
</html>